body {
    /** couleurs & font **/
    background: white;
    color: rgb(255, 92, 228);
    font-family: monospace;
    /** centrer les elements **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titre{
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    z-index: 1;
}

.invisible{
    opacity: 0;
}
.btn{
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color:#eae0c2;
    border-radius:15px;
    border:2px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#505739;
    font-size:14px;
    padding:12px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.score{
    /**CSS Relatif au score**/
    display: flex;
    padding-top: 20%;
    text-align: center;
    font-size:30px;
}

#Sgauche{
    /**Precision pour le score d'id gauche**/
    padding-left: 25%;
    float:left;
    color: rgb(255, 92, 228);
}

#Sdroite{
    /**Precision pour la score d'id gauche**/
    padding-right: 25%;
    float:right;
    color: rgb(255, 92, 228);
}

#terrain{
    /** Bordure et terrain de jeu **/
    position:relative ;
    border: 1px solid white;
    border-top-color: rgb(255, 92, 228) ;
    border-bottom-color: rgb(255, 92, 228) ;
    width: 800px;
    height: 400px;
}

.fluo{
    /** Zone pour le changement de couleur lors des hits**/
    
    border-top-color: rgb(89, 0, 161) !important;
    border-bottom-color: rgb(89, 0, 161) !important;
}

.point{
    /** Zone pour le changement de couleur lors des points**/
    
    border-top-color: rgb(255, 0, 0) !important;
    border-bottom-color: rgb(255, 0, 0) !important;
}

#balle{
    /** CSS relatif a la balle **/
    position: absolute;
    top: 50%;
    left:50%;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 92, 228);
    border-radius:100%;
}

.raquette{
    /** CSS relatif la classe raquette**/
    position: absolute;
    --hauteur: 25%;
    top: calc(50% - var(--hauteur)/2);
    width: 10px;
    height: var(--hauteur);
    background-color: rgb(255, 92, 228);
}

.raquetteFluo{
    background-color: rgb(89, 0, 161) !important;
}
#gauche{
    /**Precision pour la raquette d'id droite**/
    left:1%;
}

#droite{
    /**Precision pour la raquette d'id gauche**/
    right: 1%;
}
